doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Taskfight
    include images/favicon/_favicon.html
    link(rel='stylesheet', href='/style.css')
    style
      | #taskfight-branding {display:none};
  body.halftone
    div#app
    include images/lettering-and-monogram.svg
    script(src='/bundle.js')