doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    base(href=('/' + process.env.BASE_URL))
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Taskfight
    include images/favicon/_favicon.html
    link(rel='stylesheet', href='style.css')
    style
      | #taskfight-branding {display:none};
  body.halftone
    #app
    script(src='bundle.js')
    if production
      include _piwik_script.pug
