@font-face {
  font-family: 'EvelethClean';
  src:  url('fonts/evelethclean-webfont.woff2') format('woff2'),
        url('fonts/evelethclean-webfont.woff') format('woff');
}

$tfRed: #cb323e;
$tfDarkRed: #aa2631;
$tfYellow: #ecc84f;
$tfPurple: #311c2d;
$tfFontSize: 22px;

$logoHeight: 125;
$logoWidth: 450;

$halftoneWidth: 237.092px;
$halftoneHeight: 4px;
$referenceWidth: 237px;
$ratio: 1.5;

$unit: 44px;

@import "_halftone.scss";
@import "_resets.scss";

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.tf-CenteredColumn {
  max-width: 600px;
  margin: auto;
}

.tf-Input {
  line-height: $unit;
  font-size: inherit;
  font-family: inherit;
  padding: 0 0.6em;
  border: none;
  background: white;
  color: $tfPurple;
}

.tf-Button {
  line-height: $unit;
  font-size: 30px;
  font-family: inherit;
  border: none;
  padding: 0 0;
  text-align: center;
  
  color: $tfPurple;

  &-primary { 
    background: $tfYellow;
  }

  &-transparent {
    background: transparent;
  }

  &-square {
    display: inline-block;
    width: $unit;
    text-align: center;
  }
}

.tf-Header {
  text-align: center;
  z-index: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $unit;
    background: $tfPurple;
    z-index: -1;
  }
}

.tf-Monogram {
  height: 3.5em;
  margin-top: 0.2em;
}

.tf-App {
  height: 100%;
  display: flex;
  flex-direction: column;

  font-family: EvelethClean, sans-serif;
  color: $tfPurple;

  font-size: 22px;
  line-height: 1.3em;

  &__Header {
    flex: 0;
  }

  &__Main {
    flex: 1;
  }
}

.tf-Stages {
  display: flex;
  flex-direction: column;

  &__Stage {
    flex: 1;
    overflow: auto;

    padding: 1em;

    color: $tfYellow;
  }

  &__Menu {
    flex: 0;
  }
}

.tf-AddTaskForm {
  display: flex;

  margin-bottom: 1.5em;
  
  &__Input {
    flex: 1;
  }

  &__Button {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.tf-StageNavigation {
  display: flex;
  justify-content: space-between;

  background: $tfPurple;
  color: mix(white, $tfPurple, 60%);

  line-height: $unit;
  height: $unit;
  flex-basis: $unit;
}

.tf-StageNavigationLink {
  width: $unit;
  display: block;
  text-align: center;
  color: inherit;

  &-disabled {
    color: mix(white, $tfPurple, 30%); 
  }
}

.tf-TaskListItem {

  text-align: center;

  margin: 0.8em 0;
}

.tf-RemoveTaskButton {
  .tf-TaskListItem:not(:hover) & {
    display: none;
  }
}

.tf-FightStage {
  display: flex;

  &__Task {
    flex: 1;
  }

  &__Separator {
    flex: 0;
  }
}

.tf-Task {
  padding: 1em;
}

.tf-Task,
.tf-FightSeparator {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.tf-FightSeparator {
  color: $tfPurple;
  text-align: center;

  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;

    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 4px;

    
    background: $tfPurple;
  }

  &::before {
    top: 0;
    bottom: 60%;
  }

  &::after {
    top: 60%;
    bottom: 0;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .tf-FightStage {
    flex-direction: column;
  }

  .tf-FightSeparator {
    &::before,
    &::after {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      height: 4px;
      width: auto;
    }
  

    &::before {

      left: 0;
      right: 60%;
    }

    &::after {
      left: 60%;
      right: 0;
    }
  }
}


